.date-created {
    margin-left: 25px;
    margin-top: -15px;
    font-size: 12px;
    color: gray;
}

.full-width {
    width: 100%;
}

.list-orders {
    overflow: auto;
}

.table-content {
    cursor: pointer;
}

.edit-order-print-btn {
    right: 70px;
    top: 20px;
    position: absolute;
}

.edit-order-delete-btn {
    right: 20px;
    top: 20px;
    position: absolute;
    background-color: rgb(211, 107, 99);
}

.edit-order-add-stair-btn {
    left: 20px;
    top: 20px;
    position: absolute;
}

mat-dialog-container {
    background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mdc-text-field--disabled input {
    color: black !important; 
 }

::ng-deep .mdc-text-field, ::ng-deep .mat-mdc-dialog-surface {
    background-color: white !important;
}