.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 80px;
}

.button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.orders-section {
    height: 750px;
    overflow: auto;
}

.spinning-loader {
    margin-top: 350px;
}

.mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

::ng-deep .mat-sort-header-arrow {
    display: none;
}

.filter-btn {
    left: 200px;
    top: 10px;
    position: absolute;
}