.full-width {
    width: 100%;
    min-width: 320px;
}

.create-orders-form {
    max-width: 430px;
}

.create-order-quote {
    position: absolute;
    left: 150px;
    top: 18px;
}

mat-dialog-container {
    background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mdc-text-field--disabled input {
    color: black !important; 
 }

::ng-deep .mdc-text-field, ::ng-deep .mat-mdc-dialog-surface {
    background-color: white !important;
}