.brand-name {
    background-color: rgb(156, 101, 18);
}

.brand-logo {
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.logout-button {
    appearance: none;
    background-color: #e20101;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    margin-top: 15px;
    margin-right: 10px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.logout-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.logout-button:hover {
    background-color: #530202;
}

.logout-button:focus {
    box-shadow: rgb(250, 0, 0) 0 0 0 3px;
    outline: none;
}

.logout-button:disabled {
    background-color: #a7024f;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.logout-button:active {
    background-color: #500226;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.menu-button mat-icon {
    height: 44px;
}

/* .menu {
    text-align: center;
    justify-content: center;
} */