.home-title-container {
    text-align: center;
    width: 100%;
}

.cnt-of-orders-chart-container {
    width: 100%;
}

.cnt-of-orders-chart {
    margin-left: 20px;
}

.spinning-loader {
    margin-top: 50px;
}